### Q1

In [1]:
def is_symmetrical(in_num):
    if str(in_num) == str(in_num)[::-1]:
        print(f'{in_num} ➞ {True}')
    else:
        print(f'{in_num} ➞ {False}')

is_symmetrical(7227)
is_symmetrical(12567)
is_symmetrical(44444444)
is_symmetrical(9939)
is_symmetrical(1112111)

7227 ➞ True
12567 ➞ False
44444444 ➞ True
9939 ➞ False
1112111 ➞ True

### Q2

In [2]:
def multiply_nums(s):
    product = 1
    for i in s.split(','):
        product = product * int(i)
    return product
print(multiply_nums('2, 3'))
print(multiply_nums('1, 2, 3, 4'))
print(multiply_nums('54, 75, 453, 0'))
print(multiply_nums('10, -2'))

6
24
0
-20

### Q3

In [3]:
def square_digits(num):
    res = ""
    for c in str(num):
        res += str(int(c)**2)
    return int(res)

print(square_digits(9119))
print(square_digits(2483))
print(square_digits(3212))

811181
416649
9414

### Q4

In [4]:
def setify(lst):
    return list(set(lst))

print(setify([1, 3, 3, 5, 5]))
print(setify([4, 4, 4, 4]))
print(setify([5, 7, 8, 9, 10, 15]))
print(setify([3, 3, 3, 2, 1]))

[1, 3, 5]
[4]
[5, 7, 8, 9, 10, 15]
[1, 2, 3]

### Q5

In [6]:
def mean(n): 
    N = len(str(n)) 
    sum = mean = 0
    
    for digit in str(n):
        sum += int(digit)       
    return int(sum/N)

print(mean(42))
print(mean(12345))
print(mean(666))

3
3
6